.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }
  
  .left-text {
    color: #fff;
  }
  
  .input-field {
    border: 1px solid;
    padding: 5px;
    width: 250px;
    height: 25px;
    border-radius: 20px;
    border-color: #1ccc1d;
  }