.new-dropdown {
    position: relative;
    background-color: transparent;
    color: #000;
    width: 265px;
}

.new-dropdown-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 12px;
    background-color: transparent;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
}

.new-dropdown-header .Img_Option_Icon {
    align-items: center;
    margin-right: 15px;
}

.new-dropdown-header span {
    flex-grow: 1;
}

.new-dropdown-header .arrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.new-dropdown-header .arrow.down {
    border-top: 4px solid #1CCC1D;
    margin-left: 10px;
}

.new-dropdown-header .arrow.up {
    border-bottom: 4px solid #1CCC1D;
    margin-left: 10px;
}

.new-dropdown-body {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: transparent;
    border-radius: 4px;
    z-index: 1;
    border-radius: 20px;
}

.new-dropdown-item {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #ffffff;
}

.new-dropdown-item:hover {
    background-color: rgb(18, 21, 36);
    border-radius: 10px;
}

.new-dropdown-body {
    background: #1f2441;
    border-radius: 10px;
}

.Option_Link {
    text-decoration: none;
    color: white;
}

.new-dropdown-container {
    display: flex;
    align-items: center; 
}

.MainText {
    color: #fff;
    margin-right: 50px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #1CCC1D; 
    margin-left: 5px; 
  }
  
  .arrow-right.open {
    transform: rotate(-90deg); 
  }
  
  .arrow-right.closed {
    transform: rotate(90deg); 
  }
  