.Button_Main {
    border-radius: 30px;
    color: #fff;
    background-color: #DB2929;
    width: 200px;
    align-self: center;
}

.Button_Main:hover {
    background-color: #db2929c9;
}

.Container {
    padding: 20px;
}